<configuration>
  <system.webServer>

      <!-- indicates that the server.js file is a node.js application
      to be handled by the iisnode module -->

      <handlers>
        <remove name="ISAPI-dll" />
        <add name="ISAPI-dll" path="*.dll" verb="*" type="" modules="IsapiModule" scriptProcessor="" resourceType="File" requireAccess="Execute" allowPathInfo="true" preCondition="" responseBufferLimit="0" />
        <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
      </handlers>

     

      <rewrite>
          <rules>
              <rule name="sendToNode">
                  <match url="/*" />
                  <action type="Rewrite" url="index.js" />
              </rule>
               <!-- Don't interfere with requests for node-inspector debugging -->
                <!-- <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^index.js\/debug[\/]?" />
                </rule>
 -->
          <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
<!--           <rule name="StaticContent">
              <action type="Rewrite" url="public{REQUEST_URI}" />
          </rule> -->

          <!-- All other URLs are mapped to the Node.js application entry point -->
   <!--        <rule name="DynamicContent">
              <conditions>
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
              </conditions>
              <action type="Rewrite" url="index.js" />
          </rule> -->
          </rules>
      </rewrite>
 
     <!--    <iisnode      
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="true"
      debugHeaderEnabled="true"
      debuggerPortRange="5058-6058"
      debuggerPathSegment="debug"
      maxLogFileSizeInKB="128"
      maxTotalLogFileSizeInKB="1024"
      maxLogFiles="20"
      devErrorsEnabled="true"
      flushResponse="true"      
      enableXFF="false"
      promoteServerVars=""
     /> -->

     <iisnode      
      flushResponse="true"      
     />
  </system.webServer>
</configuration>